<section>
    <div>
        <h3>Login</h3>
    </div>
    <div>
        <label for="username">Username</label>
        <label for="password">Password</label>
        <label for="login">Login</label>
        <label for="signup">Signup</label>
    </div>
</section>

<script src="/js/login.js"></script>