<section>
    <div>
        <h3>Sign Up</h3>
    </div>
    <div>
        <form>
            <label for="username">Username</label>
            <label for="password">Password</label>
            <button>Sign Up</button>
            <label for="Login">Login</label>
        </form>
    </div>
</section>

<script src="/js/signup.js"></script>